@using CosmeticWeb.ViewModels;
@model IEnumerable<UsersViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminPannel.cshtml";
    string Page = "employee";
}

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <td>Id</td>
                <th>User Name</th>
                <th>Email</th>
                <th>Email Confirmed</th>
                <th>Role</th>
                <th>
                    <a asp-action="Create" asp-controller="Users" class="btn btn-table">Create</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td>@item.EmailConfirmed</td>
                    <td>@item.Role</td>
                    @if (!item.Email.Contains("admin@MagazineManagment.com"))
                    {
                        <td>
                            <a asp-action="GetEditUser" asp-route-id="@item.Id" asp-fragment="@Page" class="btn">Edit</a>
                            <a asp-action="Delete" asp-controller="Users" asp-route-id="@item.Id" class="btn">Delete</a>
                        </td>
                    }
                    else
                    {
                        <td>You cant delete admin</td>

                    }
                </tr>
            }
        <tbody>
    </table>
</div>