@using Microsoft.AspNetCore.Identity;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminPannel.cshtml";
}

<style>
    .recent-payments table tbody tr {
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    .new-students table tbody tr {
        display: flex;
        align-items: center;
    }
</style>

<div class="content">

    <div class="cards">

        <div class="card">
            <div class="box">
                <h1>@ViewBag.Users</h1>
                <h3>Users</h3>
            </div>
            <div class="icon-case">
                <img src="/AdminPannelImages/students.png" alt="">
            </div>
        </div>

        <div class="card">
            <div class="box">
                <h1>@ViewBag.Employees</h1>
                <h3>Employees</h3>
            </div>
            <div class="icon-case">
                <img src="/AdminPannelImages/teachers.png" alt="">
            </div>
        </div>

        <div class="card">
            <div class="box">
                <h1>@ViewBag.Subtitles</h1>
                <h3>Subsrciptions</h3>
            </div>
            <div class="icon-case">
                <img src="/AdminPannelImages/schools.png" alt="">
            </div>
        </div>

        @if (User.IsInRole("Admin"))
        {
            <div class="card">
                <div class="box">
                    <h1>@ViewBag.Income</h1>
                    <h3>Income</h3>
                </div>
                <div class="icon-case">
                    <img src="/AdminPannelImages/income.png" alt="">
                </div>
            </div>
        }

    </div>

    <div class="content-2">

        <div class="recent-payments">
            <div class="title">
                <h2>Recent Payments</h2>
                <a asp-action="Index" asp-controller="OrderItems" class="btn">View All</a>
            </div>
            <table>
                <tr>
                    <th>Product Name</th>
                    <th>Customer Name</th>
                    <th>Price</th>
                </tr>
                @foreach (var item in ViewBag.RecentOrders as List<OrderItem>)
                {
                    <tr>
                        <td>@item.Product!.Name</td>
                        <td>@item.Order!.CustomerName</td>
                        <td>@item.Price</td>
                    </tr>
                }
            </table>
        </div>

        @if (User.IsInRole("Admin"))
        {
            <div class="new-students">
                <div class="title">
                    <h2>New Users</h2>
                    <a asp-action="Users" asp-controller="Users" class="btn">View All</a>
                </div>
                <table>
                    <tr>
                        <th>Profile</th>
                        <th>Name</th>
                    </tr>
                    @foreach (var item in ViewBag.Recentusers as IEnumerable<IdentityUser>)
                    {
                        <tr>
                            <td><img src="/AdminPannelImages/user.png" alt=""></td>
                            <td>@item.UserName</td>
                        </tr>
                    }
                </table>
            </div>
        }

    </div>
</div>
