@model IEnumerable<CosmeticWeb.Models.OrderItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminPannel.cshtml";
}

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductId)
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-controller="OrderItems" asp-route-id="@item.Id" class="btn">Delete</a>
                    </td>
                </tr>
            }
        <tbody>
    </table>
</div>