@model IEnumerable<CosmeticWeb.Models.CosmeticTeamMember>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminPannel.cshtml";
}

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Linkedin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Facebook)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Instagram)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Twitter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    <a asp-action="Create" class="btn btn-table">Create New</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Linkedin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Facebook)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Instagram)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Twitter)
                    </td>
                    <td>
                        <img src="/CosmeticTeamMemberImages/@item.Image" width="60px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn">Delete</a>
                    </td>
                </tr>
            }
        <tbody>
    </table>
</div>
