@model IEnumerable<CosmeticWeb.Models.Wishlist>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminPannel.cshtml";
}

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th> 
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th> 
                <th>
                    @Html.DisplayNameFor(model => model.PreviousPrice)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.UserId
                    </td>
                    <td>
                        @item.ProductId
                    </td>
                    <td>
                        @item.Image
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Price
                    </td> 
                    <td>
                        @item.PreviousPrice
                    </td>
                </tr>
            }
        <tbody>
    </table>
</div>